body{
  font-family: Arial, sans-serif;
  margin:0;
  background:#f4f6f8;
}

header{
  background:#6a7cff;
  color:white;
  padding:15px;
  text-align:center;
}

nav a{
  color:white;
  margin:0 10px;
  text-decoration:none;
  font-weight:bold;
}

section{
  padding:30px;
  max-width:900px;
  margin:auto;
}

.form{
  display:flex;
  flex-direction:column;
  gap:10px;
  max-width:500px;
}

input, textarea{
  padding:10px;
  font-size:14px;
}

button{
  padding:10px;
  border:none;
  background:#6a7cff;
  color:white;
  cursor:pointer;
}

#lista{
  margin-top:25px;
  display:grid;
  gap:15px;
}

.card{
  background:white;
  padding:15px;
  border-radius:6px;
  box-shadow:0 0 5px rgba(0,0,0,0.1);
}

.card button{
  background:#ff5b5b;
  margin-top:10px;
}